@charset "UTF-8";

@media screen and (min-width: 1440px){

    body, html{
        height: 1300px;
    }

    header{
        
    }

    main{
        width: 50%;
        margin-top: 350px;   
        margin-bottom: 350px;
    }

    div#foto{
        padding-top: 20px;
        width: 90%;
        height: 400px;
    }

    img {
        width: 100%;
        height: auto;
        margin: 0px auto;
        border-radius: 10px;
      }

    main h1{
        font-size: 2.5em;
    }

    main p{
        font-size: 1em;
        padding-bottom: 20px;
    }

    section h3{
        font-size: 1.5em;
    }

    section li{
        font-size: 1em;
    }

    main h2{
        font-size: 2em;
    }

    main li{
        font-size: 1em;
        padding-bottom: 20px;
    }

    .container{
        font-size: 1.5em;
        padding: 0px 20%;
    }
}

