@charset "UTF-8";

@font-face {
    font-family: 'static';
    src: url(../fonts/outfit/Outfit-VariableFont_wght.ttf) format(truetype);
}
@font-face {
    font-family: 'youngserif';
    src: url(../fonts/young-serif/YoungSerif-Regular.ttf) format(truetype);
}

*{
    padding: 0px;
    margin: 0px;
}

body, html{
    font-family: 'static',Arial, Helvetica, sans-serif;
    background-color: hsl(330, 100%, 98%);
}

main{
    margin: 175px 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 300px;
    background-color: white;
    padding: 20px;
    
    border-radius: 20px;
}

img {
    width: 100%;
    height: auto;
    margin: 0px auto;
    border-radius: 10px;
  }

main h1{
    font-family: 'youngserif', 'Times New Roman', Times, serif;
    font-size: 1.4em;
    padding: 10px;
}

main p{
    text-align: justify;
    font-size: 0.7em;
    padding: 10px;
}

section{
    background-color: rgb(240, 240, 240);
    padding: 10px;
    border-radius: 5px;
}

section h3{
    font-size: 0.9em;
    color: hsl(332, 51%, 32%);
    padding-bottom: 5px;
}
section li{
    font-size: 0.7em;
    list-style-position: inside;
}

main h2{
    padding-bottom: 20px;
    font-size: 1.1em;
    color: hsl(14, 45%, 36%);
}

main li{
    text-align: justify;
    font-size: 0.7em;
    padding-bottom: 2px;
    list-style-position: inside;
}

div.container{
    margin: 0px 40px;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2,50%);
    font-size: 0.7;
}

div.container div.col-1{
    border-bottom: 1px solid hsl(30, 18%, 87%);
    border-bottom-left-radius: 5px;
}

.col-2{
    text-align: right;
    font-weight: bold;
    color: hsl(14, 45%, 36%);
    border-bottom: 1px solid hsl(30, 18%, 87%);
    border-bottom-right-radius: 5px;
}